<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>animal-ai.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FE01355E1A3B17DD0016534A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE8A99DF1A2713DC009E2795</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE8A99F11A2714CD009E2795</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
